<%= link_to "Add Image", new_image_path %>
<% @images.each do |image| %>
    <p><%= image.title %></p>
    <%= link_to (image_tag image.file.variant(resize_to_limit: [500, 500] ) if image.file.attached?), image %>
<% end %>